.form_container {
  padding-top: 5rem;
  width: 90vw;
  margin: 0 auto;

  h6 {
    margin: 1rem 0 0 0;
    font-size: 1rem;
    padding-bottom: 0.3rem;
  }

  @media (min-width: 700px) {
    width: 55vw;
  }

  button {
    margin: 2rem 0;
    padding: 1rem 3rem;
  }
}

.p_form {
  display: flex;
  flex-direction: column;
  color: #333333;
  background-color: rgba(255, 255, 255, 1);

  input,
  textarea {
    padding: 0.6rem;
    border: 1px solid #eeeeee;
    border-radius: 2px;
  }
}

.name {
  .p_form {
    padding-bottom: 1rem;

    label {
      font-size: 0.7rem;
    }
  }

  @media (min-width: 700px) {
    display: flex;
    flex-direction: row;

    input {
      width: 27vw;
      margin-right: 1rem;
    }
  }
}
