.hero {
  height: 65vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url(/story.jpg) center no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    background-image: url(/waves.svg);
    background-size: cover;
    height: 20vh;
    width: 100%;
    overflow: hidden;
    background-repeat: repeat-x;
    position: absolute;
    top: -10vh;
    left: 0;
    z-index: -1;
  }
}
