.hero {
  height: 20vh;
  background: url(/poppins-blurhero.jpg);
  display: flex;
  align-content: center;
  justify-content: center;
  position: relative;
  margin-top: 3rem;

  h3 {
    padding-top: 2rem;
    font-family: "Averia Serif Libre", cursive;
    font-size: 2rem;
    color: white;
  }
}
